<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<%- include('../includes/nav.ejs') %>
<%- include('../includes/topic-list.ejs') %>

<a href="/topic/create">create</a>
<a href="/topic/update/<%= id %>">update</a>
<form action="/topic/delete_process" method="post">
    <input type="hidden" name="id" value="<%= id %>">
    <input type="submit" value="delete">
</form>

<h2><%= title %></h2>
<p><%= description %></p>
<p>by <%= name %></p>

</body>
</html>